# Top-level .gitignore

# NodeJS project (server-encryptor)
server-encryptor-project/node_modules/
server-encryptor-project/dist/
server-encryptor-project/.env

# NextJS project (ui)
ui-project/node_modules/
ui-project/.next/
ui-project/out/
ui-project/.env.local
ui-project/.env.development.local
ui-project/.env.test.local
ui-project/.env.production.local

# Common
.DS_Store
.idea/
.vscode/
